<div class="card shadow">

  <div class="card-header">
    <div class="row">
      <div class="col-md-8 col-xs-8 col-lg-8">
        <h4><i class="fas fa-clipboard"></i> <b>Poliza</b></h4>
      </div>
      <div class="col-md-4 col-xs-4 col-lg-4">
        <!--div class="row">
          <div class="col-md-3 col-xs-3 col-lg-3">
            <button type="button" class="btn btn-success btn-block"
              data-toggle="tooltip" data-placement="top" title="Crear" ng-click="buttonOption(1)" ng-disabled="showCreateCliente"><i
                class="fas fa-edit"></i></button></div>
          <div class="col-md-3 col-xs-3 col-lg-3"><button type="button" class="btn btn-secondary btn-block"
              data-toggle="tooltip" data-placement="top" title="Guardar" ng-click="buttonOption(2)" ng-disabled="showSaveCliente"><i class="fas fa-save"></i></button></div>
          <div class="col-md-3 col-xs-3 col-lg-3"><button type="button" class="btn btn-info btn-block"
              data-toggle="tooltip" data-placement="top" title="Editar" ng-click="buttonOption(3)" ng-disabled="showEditCliente"><i class="fas fa-user-edit"></i></button></div>
              <div class="col-md-3 col-xs-3 col-lg-3"><button type="button" class="btn btn-info btn-block"
                  data-toggle="tooltip" data-placement="top" title="reset" ng-click="buttonOption(4)" ng-disabled="showEditCliente"><i class="fas fa-undo"></i></button></div>
        </div-->
      </div>
    </div>
  </div>

  <div class="card-body scroll">
    <div class="container-fluid">
        <h5><b>Datos Póliza de seguros</b></h5>
        <hr>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-6 col-xl-6 col-md-6">
              <label>Aseguradora</label>
              <div class="inner-addon  right-addon">
                <i class="fas fa-user-lock"></i>
                <input type="text" name="" placeholder="aseguradora" class="form-control" disabled>
              </div>
            </div>
            <div class="col-lg-6 col-xl-6 col-md-6">
              <label>No de Póliza</label>
              <div class="inner-addon  right-addon">
                <i class="fas fa-sort-numeric-up-alt"></i>
                <input type="text" name="" placeholder="No de Póliza" class="form-control" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-xl-6 col-md-6">
              <label>Vigencia Desde</label>
              <div class="inner-addon  right-addon">
                <input type="date" name="" placeholder="aseguradora" class="form-control" disabled>
              </div>
            </div>
            <div class="col-lg-6 col-xl-6 col-md-6">
              <label>Vigencia Hasta</label>
              <div class="inner-addon  right-addon">
                <input type="date" name="" placeholder="aseguradora" class="form-control" disabled>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<br>