<div ng-controller="crudConfig">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Usuario</th>
                <th scope="col">Role</th>
                <th scope="col">Opciones</th>
                <th scope="col">Estatus</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="users in listuser">
                <th scope="row">{{users.name}}</th>
                <td>{{users.user}}</td>
                <td>{{users.role}}</td>
                <td>{{users.opciones}}</td>
                <td>
                    <button ng-class="users.status === 'activo' ? 'btn btn-success' : 'btn btn-danger'" ng-click="updateStatus(users.status, users.iduser)" data-toggle="tooltip" data-placement="top" title="{{users.status}}">
          <i 
          ng-class="users.status === 'activo' ? 'fas fa-check' : 'fas fa-times'"
          >
        </i>
        </button>
                </td>
                <td>
                    <button class="btn btn-info" ng-click="llenadoForm(users)" data-toggle="modal" data-target="#editUser"><i class="fas fa-user-edit"></i></button>
                </td>
            </tr>
        </tbody>
    </table>




    <!-- Modal -->

    <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUser"><b>EDITAR USUARIO</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label><b>Nombre Completo</b></label>
                            <div class="inner-addon  right-addon">
                                <i class="fas fa-user-tie"></i>
                                <input type="text" ng-model="hola.name" class="form-control" disabled>
                            </div>

                            <label><b>Usuario</b></label>
                            <div class="inner-addon  right-addon">
                                <i class="fas fa-user-tie"></i>
                                <input type="text" ng-model="hola.user" class="form-control" disabled>
                            </div>

                            <label><b>Contraseña</b></label>
                            <div class="inner-addon  right-addon">
                                <i ng-if="ban" class="fas fa-eye cursor" ng-click="viewPassword(true)"></i>
                                <i ng-if="!ban" class="fas fa-eye-slash cursor" ng-click="viewPassword(false)"></i>
                                <input type="{{type}}" ng-model="hola.password" class="form-control" required>
                            </div>

                            <label><b>Rol</b></label>
                            <input type="text" class="form-control" ng-model="hola.role" value="" disabled>

                            <label><b>Opciones</b></label>
                            <div class="inner-addon  right-addon">
                                <i class="fas fa-list-ul"></i>
                                <input type="text" ng-model="hola.opciones" class="form-control">
                            </div>

                            <div class="row">
                                <div class="col-md-10 col-lg-10 col-xl-10">
                                    <label></label>
                                    <select class="form-control" ng-model="hola.lista" ng-disabled="disabled" required>
                    <option ng-repeat="op in options" value="{{op.id}}">{{op.label}}</option>
                  </select>
                                </div>
                                <div class="col-md-2 col-lg-2 col-xl-2" style="margin-top: -0.5rem">
                                    <button type="button" class="btn btn-success marign-button" ng-click="agregarEdit()" ng-disabled="disabled"><i class="fas fa-plus"></i></button>
                                </div>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary btn-block" ng-click="updateUserDataEdit()"><b>Guardar</b></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>