
    <div class="container-fluid">

      <div ng-controller="menuTrafico">
        <nav>
        <div class="nav nav-tabs" id="nav-tab2" role="tablist">
          <a class="nav-item nav-link" id="origen" data-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true" ng-click="ruta('origenesdestinos')" style="cursor: pointer;"><b><i class="fas fa-map-marked-alt"></i> Origenes y Destinos</b></a>
          <a class="nav-item nav-link" id="anti" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false" ng-click="ruta('anticipos')" style="cursor: pointer;"><b><i class="fas fa-percentage"></i> Anticipos</b></a>
          <a class="nav-item nav-link" id="comp" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false" ng-click="ruta('')" style="cursor: pointer;"><b><i class="fas fa-calculator"></i> Complementos</b></a>
          <a class="nav-item nav-link" id="liqui" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false" ng-click="ruta('')" style="cursor: pointer;"><b><i class="fas fa-credit-card"></i> Liquidaciones</b></a>
          <a class="nav-item nav-link" id="val" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false" ng-click="ruta('vales')" style="cursor: pointer;"><b><i class="fas fa-gas-pump"></i> Vales</b></a>
          <a class="nav-item nav-link" id="repor" data-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false" ng-click="ruta('')" style="cursor: pointer;"><b><i class="fab fa-wpforms"></i> Reportes</b></a>
        </div>
        </nav>
            <br>
            <div ng-include="view_equipo" style="margin-top: .2rem;"></div>
      </div>  

    </div>



    <!---->
